html, body {
    width: 100%; height: 100%;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #3C5DA6;
	background-image: url("../img/pokeball-pattern.png");
	background-attachment: fixed;
}

canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

.clear { clear: both; }

#wrapper {
    margin: 0 auto;
    min-width: 320px;
    max-width: 360px;
    min-height: 100%;
    text-align: center;
    background-color: #bbb;
    /*background-color: #c5bad2; /* Purple */*/
}

#screen-border {
    margin: 0 auto;
    width: 320px;
    height: 340px;
    background-color: #313335; /* Dark Grey */
    border-radius: 7px;
    text-align: left;
    position: relative;
}

#power-led {
    display: none;
}

#power-led.power-on {
    background-color: #e00;
    box-shadow: 0px 0px 5px 1px #f00;
}

#screen-canvas {
    background-color: #a7b4a3; /* Off LCD */
    position: absolute;
}

#logo {
    position: absolute;
    top: 300px; left: 55px;
    color: #7099a4;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
}

.color {
    font-family: "Caveat Brush", "Comic Sans", cursive;
    font-style: normal;
    font-size: 28px;
}

.berry { color: #9c4769; }
.grape { color: #77578a; }
.kiwi { color: #5eac42; }
.dandelion { color: #bcc43a; }
.teal { color: #218cb4; }

button, .button-filler {
    background-color: #39383c; /* Grey */
}

button {
    border-radius: 10px;
    border: 0;
    padding: 0;
}

button img, .button-filler img {
    width: 32px; height: 32px;
}

#controls {
    text-align: left;
    position: relative;
}

#dpad {
    width: 132px; height: 132px;
    text-align: left;
    position: relative;
    margin: 40px 0 0 10px;
    display: inline-block;
}

#dpad button, #dpad .button-filler, .ab {
    width: 44px; height: 44px;
    position: absolute;
}

#up {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0 0 0 44px;
}

#down {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 88px 0 0 44px;
}

#dpad .button-filler {
    margin: 44px 0 0 44px;
}

.button-filler img {
    margin: 6px;
}

#left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 44px 0 0 0;
}

#right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 44px 0 0 88px;
}

.ab {
    border-radius: 22px;
    text-align: center;
    color: #aaa;
    font-size: 24px;
}

#A { top: 66px; right: 27px; }
#B { top: 88px; right: 93px; }

@media screen and (min-width: 360px) {
    body {
        padding-top: 5%;
        height: 95%;
    }

    #wrapper {
        padding-top: 10px;
        border-radius: 15px 15px 30px 30px;
        min-height: 500px;
        height: 620px;
    }

    #screen-border {
        width: 340px;
        height: 350px;
    }

    #screen-canvas { top: 10px; left: 10px; }
    #logo { top: 310px; }

    #dpad {
        margin: 40px 0 0 30px;
    }

    #A { top: 66px; right: 37px; }
    #B { top: 88px; right: 103px; }
}

@media screen and (min-width: 400px) {
    #wrapper { max-width: 400px; }

    #screen-border { width: 380px; height: 360px; }
    #screen-canvas { top: 20px; left: 30px; }
    #logo { top: 320px; left: 75px;}

    #power-led {
        position: absolute;
        top: 70px;
        left: 10px;
        width: 7px; height: 7px;
        border-radius: 5px;
        background-color: #100;
        display: block;
    }
}
