body {
	background-color: #3C5DA6;
	background-image: url("../img/pokeball-pattern.png");
}

#loading-container {
	text-align: center;
}

.btn-poke {
	background: #326CB2;
	color: #FECC2F;
	font-size: 1.5em;
}
.btn-poke:hover { background: #3C5DA6; }
.btn-poke:active { background: #3050A0; }

.btn-poke.inactive { background: #ccc; color: #fff; }

#poke-image {
	position: relative;
}

.poke-overlay {
	position: absolute;
	top: 0;
	left: 0;
}
