body {
	background-color: #3C5DA6;
	background-image: url("../img/pokeball-pattern.png");
}

#loading-container {
	text-align: center;
}

.btn-poke {
	background: #326CB2;
	color: #FECC2F;
	font-size: 1.5em;
}

.poke-image {
	position: relative;
}

.poke-overlay {
	position: absolute;
	left: 0;
}
